body {
    background-color: lightblue;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.carrusel { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px; 
}

.control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
}

.atras {
    left: -9%;
    z-index: 10;
}

.adelante {
    right: 6%;
    z-index: 10;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img {
    height: 650px;
    width: 1280px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
